# Виртуальное окружение (самое важное)
venv/
env/
Lib/
Scripts/

# Кэш Python
__pycache__/
*.pyc

# Настройки редакторов
.idea/
.vscode/

# База данных (опционально)
# Если хотите, чтобы проверяющий сам создавал базу — оставьте db.sqlite3 здесь.
# Если хотите передать свои настройки ролей — удалите строку ниже.
